<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PokéList</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>PokéList</h1>
    <form method="get" action="/">
        <input type="text" name="name" placeholder="Pokémon Name suchen..." />
        <button type="submit">Suchen</button>
    </form>
    <form method="get" action="/card/">
        <input type="text" name="name" placeholder="Spezifische karte suchen..." />
        <button type="submit">Suchen</button>
    </form>
    <h2>Eigene Sammlung hochladen</h2>
    <form action="/upload_csv" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".csv" required>
    <button type="submit">Hochladen</button>
</form>
</body>
</html>